<footer class="footer">
    <img class="footer__main_img" src="img/footer_image.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 footer__info">
                <a href="/">Bean Scene</a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <div class="footer__img">
                    <a target="_blank" href="https://uk-ua.facebook.com/"><img src="img/facebook.png" alt="facebook"></a>
                    <a target="_blank" href="https://www.instagram.com/"><img src="img/instagram.png" alt="instagram"></a>
                    <a target="_blank" href="https://www.youtube.com/"><img src="img/youtube.png" alt="youtube"></a>
                    <a target="_blank" href="https://twitter.com/?lang=uk"><img src="img/twitter.png" alt="twitter"></a>
                </div>
            </div>
            <div class="col-2 footer__menu">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">News & Blogs</a></li>
                    <li><a href="#">Help & Supports</a></li>
                </ul>
            </div>
            <div class="col-2 footer__menu">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">How we work</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-4 footer__menu">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#">Akshya Nagar 1st Block 1st Cross</a></li>
                    <li><a href="#">+1 202-918-2132</a></li>
                    <li><a href="#">beanscene@mail.com</a></li>
                    <li><a href="#">www.beanscene.com</a></li>
                </ul>
            </div>

            <div class="col-sm-4 footer__menu_mobile">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                About
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <ul>
                                <li><a href="#">Menu</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">News & Blogs</a></li>
                                <li><a href="#">Help & Supports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 footer__menu_mobile">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <h4>Company</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <ul>
                                <li><a href="#">How we work</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 footer__menu_mobile">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <h4>Contact Us</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <ul>
                                <li><a href="#">Akshya Nagar 1st Block 1st Cross</a></li>
                                <li><a href="#">+1 202-918-2132</a></li>
                                <li><a href="#">beanscene@mail.com</a></li>
                                <li><a href="#">www.beanscene.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>