<section class="image">
    <div class="image__img">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="image__img_info">
                        <h2>Get a chance to have an
                            Amazing morning</h2>
                        <p>We are giving you are one time opportunity to
                            experience a better life with coffee.</p>
                        <button>Order Now</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <span><img src="img/image-img-cup.png" alt=""></span>
                </div>
            </div>
        </div>
    </div>
    <div class="image__img_last">
        <img src="img/image-bean.png" alt="">
    </div>
</section>