<section id="menu" class="menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Enjoy a new blend of coffee style</h2>
                <p>Explore all flavours of coffee with us. There is always a new cup worth experiencing</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="menu__card">
                    <img src="img/menu-1.png" alt="">
                    <h4>Cappuccino</h4>
                    <p>Coffee 50% | Milk 50%</p>
                    <h5>$8.50</h5>
                    <span><button>Order Now</button></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="menu__card">
                    <img src="img/menu-2.png" alt="">
                    <h4>Chai Latte</h4>
                    <p>Coffee 50% | Milk 50%</p>
                    <h5>$8.00</h5>
                    <span><button>Order Now</button></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="menu__card">
                    <img src="img/menu-3.png" alt="">
                    <h4>Macchiato</h4>
                    <p>Coffee 50% | Milk 50%</p>
                    <h5>$9.30</h5>
                    <span><button>Order Now</button></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="menu__card">
                    <img src="img/menu-4.png" alt="">
                    <h4>Expresso</h4>
                    <p>Coffee 50% | Milk 50%</p>
                    <h5>$7.50</h5>
                    <span><button>Order Now</button></span>
                </div>
            </div>
        </div>
    </div>
</section>