<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our coffee perfection feedback</h2>
                <p>Our customers has amazing things to say about us</p>
            </div>
            <div class="col-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">Slide 1</div>
                      <div class="swiper-slide">Slide 2</div>
                      <div class="swiper-slide">Slide 3</div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
            </div>
        </div>
    </div>
</section>