<section id="contacts" class="subscribe">
    <div class="subscribe__img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Subscribe to get the Latest News</h2>
                    <p>Don’t miss out on our latest news, updates, tips and special offers</p>
                    <form>
                        <input class="subscribe__img_label" type="email" placeholder="Enter your mail" required
                            validationMessage="Будь ласка, введіть свій email.">
                        <input class="subscribe__img_btn" type="submit" value="Suscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>