<section class="why-we">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Why are we different?</h2>
                <p>We don’t just make your coffee, we make your day!</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="why-we__card">
                    <span><img src="img/why-we-1.png" alt=""></span>
                    <h3>Supreme Beans</h3>
                    <p>Beans that provides
                        great taste</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="why-we__card">
                    <span><img src="img/why-we-2.png" alt=""></span>
                    <h3>High Quality</h3>
                    <p>We provide the
                        highest quality</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="why-we__card">
                    <span><img src="img/why-we-3.png" alt=""></span>
                    <h3>Extraordinary </h3>
                    <p>Coffee like you have
                        never tasted</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="why-we__card">
                    <span><img src="img/why-we-4.png" alt=""></span>
                    <h3>Affordable Price</h3>
                    <p>Our Coffee prices are
                        easy to afford</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="why-we__info">
                    <p>Great ideas start with great coffee, Lets help you achieve that</p>
                    <h3>Get started today.</h3>
                    <button>Join Us</button>
                </div>
            </div>
        </div>
    </div>
    <span class="why-we__effect"><img src="img/menu-effect.png" alt=""></span>
</section>