.discover {
    margin-top: 100px;

    &__effect {
        position: absolute;
        margin-top: 300px;
    }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        position: relative;

        h2 {
            font-weight: 700;
            font-size: 54px;
            color: #603809;
            line-height: 72px;
        }

        p {
            font-size: 20px;
            line-height: 34px;
            color: #707070;
            max-width: 585px;
            margin: 30px 0px;
        }

        button {
            font-weight: 700;
            font-size: 16px;
            color: #1E1E1E;
            padding: 14px 28px;
            border: none;
            background: #F9C06A;
            border-radius: 24px;
        }
    }


    @media screen and(max-width:1200px) {
        &__info {
            h2 {
                font-size: 40px;
            }

            p {
                font-size: 18px;
            }
        }

        img {
            width: 400px;
            height: 400px;
        }

        &__effect {
            margin-top: 250px;
            min-width: 400px;
            max-height: 200px;
        }
    }

    @media screen and(max-width:992px) {
        & {
            margin-top: 50px;

        }

        &__info {
            h2 {
                font-size: 30px;
                line-height: 1.2em;
            }

            p {
                font-size: 18px;
                margin: 15px 0px;
                line-height: 1.2em;
            }
        }

        img {
            width: 300px;
            height: 300px;
        }

        &__effect {
            margin-top: 150px;
            min-width: 400px;
            max-height: 200px;
        }
    }

    @media screen and(max-width:768px) {
        .container {
            display: block;
        }

        &__info {
            text-align: center;
        }

        &__img {
            display: none;
        }

        &__effect {
            display: none;
        }
    }

    @media screen and(max-width:576px) {
        &__effect {
            margin-top: 70px;
            min-width: 100px;
            max-height: 200px;
        }
    }
}